body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: darkblue;
}
a:hover {
    color: blue;
}

header, main {
    margin: 1.5%;
}
header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2rem;
    display: block;
    width: 100%;
}
main { margin-top:3%; }
header a {
    text-decoration: none;
    color: #000;
}
header li { font-size: 120%; font-weight: 600;}
header nav { display: inline }
.hogersida {
    float: right;
    padding-right: 3rem;
}
nav ul { display: inline }
nav li {
    display: inline-block;
    padding: 1rem;
}
.annons {
    margin: 4rem 0;
}
.annons div {
    display: inline-block;
}
.annons img {
    width: 150px;
}
.annons .annonsinfo {
    vertical-align: top;
    padding-left: 3%;
}
.regioner {
    font-size: 140%;
}
.regioner li {
    line-height: 1.5;
    font-weight: 600;
}
button {
    padding: 1rem 2rem;
    background-color: rgb(54, 208, 54);
    color: white;
    font-weight: 600;
    border: 0;
    border-radius: 0.5rem;
    font-size: 130%;
}